/* in genome.css @import url("plugins/vcf_webserv_store/css/main.css");*/
@import url("experiment_picker.css");
div.cosmic {
    position:absolute;
    height: 10px;
    background-repeat: repeat-x;
    cursor: pointer;
    z-index: 10;
    background-color: #ff0000;
}
